* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body, #root {
  width: 100%;
  background-color: #000;
}
section{
  min-height: 100vh;
  border: 2px solid #fff;
  position: relative;
  z-index: 2;
}
main{
  position: relative;
}
